@import 'global/css';
 
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-primary);
}
._admin-dashboard{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 10%;
  overflow-x: hidden;
  overflow: hidden;
}

._admin-dashboard ._sidenav{
  position: relative;
  width: 30%;
  height: 100%;
  left: 0;
  padding-left: 1.5rem;
  padding-top: 1rem;
  transition: .5s;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  border-right: 1px solid var(--clr-tri);
  background: var(--bg-primary);
}

._admin-dashboard ._sidenav p{
  color: var(--clr-secondary);
}
._sidenav::-webkit-scrollbar {
  display: none;
}

 ._sidenav-list{
  position: absolute;
  font-size: 1.8rem;
  left: 30%;
  top: 0;
  z-index: 30;
  color: var(--clr-secondary);
  cursor: pointer;
  transition: .5s;
}


 ._sidenav-list:hover{
  color: var(--clr-in-hover);
}

._admin-dashboard ._main-dashboard{
  position: relative;
  width: 70%;
  height: 100%;
  background: var(--bg-main);
  overflow-y: scroll;
}

._sidenav ._sidenav-header{
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--clr-tri);
  padding-bottom: .2rem;
  background: var(---bg-primary);
}
._sidenav ._sidenav-header h1{
  background: var(--logo-a-bg);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

._sidenav ._sidenav-header  span{
  margin-top: .1rem;
  color: var(--clr-secondary);
}

._side-nav-home-link ._dropdown-list a{
  text-decoration: none;
  color: var(--clr-secondary);
  margin-bottom: 1px;
}
._side-nav-home-link ._dropdown-list a:hover , ._side-nav-home-link p:hover{
  color: var(--clr-in-hover);
}

._side-nav-home-link{
  cursor: pointer;
}

._side-nav-barangay-official-link p:hover, ._side-nav-barangay-official-link a:hover{
 color: var(--clr-in-hover);
}

._side-nav-barangay-official-link a{
  text-decoration: none;
  color: var(--clr-secondary);
}

._side-nav-staff-link a{
  text-decoration: none;
  color: var(--secondary);
}

._side-nav-staff-link a:hover, ._side-nav-staff-link p:hover{
  color: var(--clr-in-hover);
}

._side-nav-purok-leader-link a{
  text-decoration: none;
  color: var(--secondary);
}
._side-nav-purok-leader-link a:hover, ._side-nav-purok-leader-link p:hover{
  color: var(--clr-in-hover);
}

._atitvities a{
  text-decoration: none;
  color: var(--clr-secondary);
}

._atitvities a:hover{
  color: var(--clr-in-hover);
}

._household a , ._announcement a , ._user-data a{
  text-decoration: none;
  color: var(--clr-secondary);
}

._household a:hover , ._announcement a:hover , ._user-data a:hover{
  color: var(--clr-in-hover);
}

._side-nav-add-resident-link a{
  text-decoration: none;
 color: var(--clr-secondary);
}

._side-nav-add-resident-link a:hover , ._side-nav-add-resident-link p:hover{
  color: var(--clr-in-hover);
 }
 ._announcement h1 , ._announcement p{
  color: var(--clr-primary);
 }

 ._announcement-header #searchAnnouncementDate{
   border: 0;
   background: transparent;
   cursor: pointer;

 }

 ._announcement-header #searchAnnouncementDate:hover{
  color: var(--clr-in-hover);
 }

 ._announcement-header ._head-content{
  opacity: .9;
  color: var(--clr-secondary);
 }

 ._announcement-table{
  position: relative;
  width: 100%;
  border-collapse: collapse;
  color: var(--clr-secondary);
 }

 ._home ._home-header{
  position: relative;
  top: 0;
  width: 100%;
  height: 20%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  gap: 1rem;
  flex-wrap: wrap;
 }
 ._home ._home-header .card{
  position: relative;
  padding: 1rem;
  min-width: 20%;
 cursor: pointer;

 }

 ._home ._home-header .card1{
  color: var(--clr-secondary);
 }

 ._gradient-bg1{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
 }
 ._gradient-bg2{
  background-image: linear-gradient( 120deg, #84fab0 0%, #8fd3f4 100%);
 }

 ._gradient-bg3{
  background-image: linear-gradient(to right, #ff9a9e, #fecfef);
  
 }
