@import 'global/css';

._admin-dashboard{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
}

._admin-dashboard ._sidenav{
  position: relative;
  width: 30%;
  height: 100%;
  left: 0;
 padding-left: 1rem;
}


._admin-dashboard ._main-dashboard{
  position: relative;
  width: 70%;
  height: 100%;

}

._sidenav ._sidenav-header{
  position: relative;
  top: 0;
  left: 0;
}
._sidenav ._sidenav-header h1{
  background: blue;
  color: #fff;
  padding: 1rem;
}