

@import '/styles/global.css';
._header{
    justify-content: space-between;
    overflow: hidden;
    height: 10%;
    position: fixed;
    z-index: 999;
    background: var(--bg-primary);
    top: 0;
}

._logo ._circle-image-logo{
    background: url('/images/bulanLogo.jpg');
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}
._logo p{
    margin-top: 2px;
}
._searchbar{
    position: relative;
    width: 30%;
    margin-top: 0;
    left: 5%;
   
}
._searchbar i{
    position: relative;
    transform: translateY(-30%);
    left: 83%;
    z-index: 1;
    outline: none;
    border: none;
    cursor: pointer;
}


#_search{
    position: relative;
    width: 90%;
    border-radius: 20px;
    border: 1px solid var(--clr-tri);
    padding: .3rem 1rem;
    left: -.5rem;
}
._top-right-side-info img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

._top-right-side-info i{
    cursor: pointer;
    margin-top: .3rem;
}