

 
:root{
  --bg-side: #2c3e50;
  --bg-main: #f5f5f5;
  --clr-primary: #fff;
  --clr-secondary: #333;
}

._dashboard-admin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
 
._dashboard-admin ._side-nav{
  position: relative;
  width: 30%;
  height: 100%;
  background: var(--bg-side);
}

._dashboard-admin ._main{
  position: relative;
  flex-grow: 1;
  height: 100%;
  background: var(--bg-main);
}

._logo-container{
 align-items: center;
 position: relative;
 width: 100%;
 border-bottom: .5px solid #ccc;
}
._logo-container ._logo{
  width: 40px;
  height: 40px;
  background: var(--clr-secondary);
  border-radius: 50%;
}
._logo-container h5{
  color: var(--clr-primary);
}

._links-li {
  padding: 0;

}
._links-li li a p{
  position: relative;
  transform: translateY(30%);
}
._links-li li a i{
  position: relative;
  transform: translateY(20%);
}
._links-li ul{
  position: absolute;
  width: 100%;
}
._links-li li{
  position: relative;
  width: 150%;
  list-style: none;
  border-radius: 20px 0 0 20px;
  transform: translateX(-10%);
}
._links-li li:hover , ._links-li li:hover select{
  background: var(--bg-main);
  color: var(--clr-secondary);
}
._links-li li:hover::after{
  position: absolute;
  top: 0;
  right: -11%;
  content:'';
  width: 40px;
  height: 40px;
  background: var(--bg-main);
}
._links-li li:hover p , ._links-li li:hover i{

  color: var(--clr-secondary);
}
._links-li i ,  ._links-li p{
 color: var(--clr-primary)
}
