
@import '/styles/global.css';



._sidenav{
    position: absolute;
    top: 7%;
    left: 0;
    background: var(--bg-primary);
    width: 30%;
    height: calc(100vh - 7%);
}
._sidenav-header-logo{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: var(--logo-a-bg);
    color: var(--clr-primary);
}

._sidenav-header{
    align-items: center;
}


._sidenav-header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}